*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*1rem is 10px*/
  height: 100vh;
}

h1 {
  font-size: 10rem; /*10rem is 100px*/
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(35deg, red, orange);
}

/* for 600px and wider screens */
@media screen and (min-width: 600px) {
  /* @media (min-width: 600px) { */
  body {
    background-image: linear-gradient(90deg, tomato, dodgerblue);
  }
}
